# Configuration of parameters for script searchGenes.pbs
# Copyright (C) 2020-2022 Yu Wan <wanyuac@126.com>
# Licensed under the GNU General Public Licence version 3 (GPLv3) <https://www.gnu.org/licenses/>.
# Creation: 28 August 2020; the latest modification: 30 May 2022

# Environmental constants (optional)
# Leave MODULE and CONDA_ENV empty if programs makeblastdb and blastn are accessible through environment variable $PATH.
MODULE=''  # Name of module Conda in your system
CONDA_ENV=''  # Name of the Conda environment for BLAST
CONDA_ACTIVATE_METHOD='source'  # Or 'conda', depending on whether 'source activate' or 'conda activate' is used by the system
BLASTN_DIR=""  # The directory where program blastn is stored (not needed if both MODULE and CONDA_ENV are specified)

# Input data (mandatory)
GENOMES=""  # Path to a newline-delimited text file of subject genome names (basename of filenames of FASTA files). Every line must be followed by a Linux newline character '\n', including the last line.
DB_DIR="blast_db"  # Directory for output BLAST databases (can be deleted by users afterwards)
SUBJECT_DIR=""  # Directory of input subject sequences (Genome assemblies in FASTA format)
SUBJECT_SUFFIX='fna'  # Filename extension for subject sequences. Alternative values can be 'fasta', 'fa', etc.
QUERIES=""  # Path to the FASTA file of query sequences
OUT_DIR="results"  # Directory for output TSV files

# BLAST arguments
TASK='megablast'  # Or 'blastn' for short query DNA sequences
MIN_IDENTITY='70'  # Minimum nucleotide identity required for every hit
MAX_TARGET_SEQS='10'  # Maximum number of hits returned per query sequence
MAX_EVALUE='1e-5'  # Maximum acceptable e-value
